<template>
    <div>
        <app-navbar :logo="logo" />
        <div class="container">
            <div class="row align-items-center mt-3 mb-3" v-if="userCreated.visible">
                <div class="col">
                    <app-alert
                        :message="userCreated.message"
                    />
                </div>
            </div>
            <div class="row align-items-center mt-3 mb-5">
                <div class="col-md-12">
                    <button
                        class="btn btn-primary"
                        @click="register"
                    >
                        Cadastrar
                    </button>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12">
                    <app-user-table :users="users" @deleted="getUsers" />
                </div>
            </div>
            <div class="row justify-content-center mt-3 mb-5">
                <div class="col">
                    <app-paginator
                        :paginator="paginator"
                        @onChange="getUsers($event)"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Navbar, Table, Alert, Paginator} from '../components/';
    import {api} from '../services/api';

    export default {
        components: {
            'app-navbar': Navbar,
            'app-user-table': Table,
            'app-alert': Alert,
            'app-paginator': Paginator,
        },
        props: {
          logo: String,
        },
        data() {
            return {
                users: [],
                userCreated: {
                    visible: false,
                    message: ''
                },
                paginator: {
                    current_page: null,
                    next_page_url: null,
                    prev_page_url: null,
                    last_page: null,
                    path: null
                }
            }
        },
        mounted() {
           this.getUsers();
        },
        methods: {
            getUsers(url = null) {
                const success = window.localStorage.getItem('success');

                if (success) {
                    this.userCreated.message = success;
                    this.userCreated.visible = true;
                    window.localStorage.removeItem('success');
                }

                api()
                    .get(url || '/users/5')
                    .then(res => {
                        this.users = res.data.data;

                        this.paginator = {
                            current_page: res.data.current_page,
                            next_page_url: res.data.next_page_url,
                            prev_page_url: res.data.prev_page_url,
                            last_page: res.data.last_page,
                            path: res.data.path,
                        }
                    })
                    .catch(err => console.error(err.response));
            },
            register() {
               window.location.href = "/cadastro";
            }
        }
    }
</script>
