<template>
    <div>
        <app-navbar :logo="logo" />
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <app-user-form
                        :link="link"
                        :userid="userid"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Navbar, UserForm} from '../components';

    export default {
        components: {
            'app-navbar': Navbar,
            'app-user-form': UserForm,
        },
        props: {
            link: String,
            userid: String,
            logo: String,
        },
    }
</script>
