<template>
    <div class="w-100 mb-2">
        <div class="card" v-if="addresses.length > 0">
            <div v-for="(address, index) in addresses" class="card-body">
                <hr v-if="index > 0">
                <h3 class="card-title">{{ `Endereço ${index + 1}`}}</h3>
                <h5 class="card-title">
                    {{ `Endereço: ${address.address}` }}
                </h5>
                <h5 class="card-title">
                    {{ `Número: ${address.addressNumber}` }}
                </h5>
                <h5 class="card-title" v-if="address.complement">
                    {{ `Complemento: ${address.complement}` }}
                </h5>
                <h5 class="card-title">
                    {{ `Bairro: ${address.district}` }}
                </h5>
                <h5 class="card-title">
                    {{ `Cidade: ${address.city}` }}
                </h5>
                <h5 class="card-title">
                    {{ `UF: ${address.uf}` }}
                </h5>
                <h5 class="card-title" v-if="address.created_at">
                    {{ `Cadastrado em: ${new Date(address.created_at).toLocaleDateString()}` }}
                </h5>
                <h5 class="card-title" v-if="address.updated_at">
                    {{ `Atualizado em: ${new Date(address.updated_at).toLocaleDateString()}` }}
                </h5>
                <button
                    type="button"
                    class="btn btn-outline-danger"
                    @click="onDelete(address.id, index)"
                >
                    Excluir
                </button>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: {
            addresses: Array
        },
        methods: {
            onDelete(id, index) {
                if (id) {
                    this.$emit('onDelete', {id});
                } else {
                    this.$emit('onDelete', {index});
                }
            }
        }
    }
</script>
