<template>
    <div :class="`alert alert-${state || 'success'}`" role="alert">
        {{ message }}
    </div>
</template>

<script>
    export default {
        props: {
            state: String,
            message: String
        }
    }
</script>
