<template>
    <form class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <div class="input-group mb-2 mr-sm-2">
            <input
                type="text"
                class="form-control"
                id="inlineFormInputName2"
                placeholder="Filtrar por nome"
                v-model="nameFilter"
            >
            <div class="input-group-append">
                <button
                    type="button"
                    class="btn input-group-text"
                    @click="onClear('name')"
                >Limpar</button>
            </div>
        </div>

        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
            <input
                type="number"
                class="form-control"
                id="inlineFormInputGroupUsername2"
                placeholder="Filtrar por telefone"
                v-model="phoneFilter"
            >
            <div class="input-group-append">
                <button
                    type="button"
                    class="btn input-group-text"
                    @click="onClear('phone')"
                >Limpar</button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        data() {
            return {
                phoneFilter: '',
                nameFilter: ''
            }
        },
        methods: {
            onClear(target) {
                if (target === 'phone')
                    this.phoneFilter = '';
                else this.nameFilter = '';
            }
        },
        watch: {
            phoneFilter() {
                this.$emit('onChange', { type: 'phone', value: this.phoneFilter });
            },
            nameFilter() {
                this.$emit('onChange', { type: 'name', value: this.nameFilter });
            }
        }
    }
</script>
