<template>
    <nav class="navbar navbar-light bg-dark mb-3">
        <a class="navbar-brand" href="/">
            <img :src="logo" width="100" height="30" alt="">
        </a>
    </nav>
</template>

<script>
    export default {
        props: {
            logo: String,
        }
    }
</script>
