<template>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li
                class="page-item"
                :class="paginator.prev_page_url === null ? 'disabled' : ''"
            >
                <button class="btn page-link" aria-label="Previous" @click="onPrev">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </li>

            <li
                v-for="link in paginator.last_page"
                class="page-item"
                :class="link === paginator.current_page ? 'active' : ''"
            >
                <button
                    class="btn page-link"
                    @click="onGoTo(link)"
                >
                    {{ link }}
                </button>
            </li>

            <li
                class="page-item"
                :class="paginator.next_page_url === null ? 'disabled' : ''"
            >
                <button class="btn page-link" aria-label="Next" @click="onNext">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        props: {
            paginator: {
                current_page: null,
                next_page_url: null,
                prev_page_url: null,
                path: null,
                last_page: null
            }
        },
        methods: {
            onPrev() {
              this.$emit('onChange', this.paginator.prev_page_url);
            },
            onNext() {
                this.$emit('onChange', this.paginator.next_page_url);
            },
            onGoTo(pageNumber) {
              this.$emit('onChange', `${this.paginator.path}?page=${pageNumber}`);
            }
        }
    }
</script>
