<template>
    <div>
        <app-filters @onChange="onFilter($event)"/>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Data Nascimento</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">Criado em</th>
                <th scope="col">Alterado em</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in filteredUsers" >
                <th scope="row">{{ user.nome }}</th>
                <td>{{ user.cpf }}</td>
                <td>{{ new Date(user.data_nascimento).toLocaleDateString() }}</td>
                <td>{{ user.telefone }}</td>
                <td>{{ user.email }}</td>
                <td>{{new Date(user.updated_at).toLocaleDateString()}}</td>
                <td>{{new Date(user.created_at).toLocaleDateString()}}</td>
                <td>
                    <a
                        class="btn btn-warning"
                        :href="`/cadastro?user_id=${user.id}`"
                    >
                        Editar
                    </a>
                    <button
                        class="btn btn-danger"
                        @click="onDeleteUser(user.id)"
                    >
                        Excluir
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {api} from '../services/api';
    import Filters from "./Filters";

    export default {
        props: {
            users: Array,
        },
        components: {
          'app-filters': Filters
        },
        data() {
            return {
                filteredUsers: [],
                phoneFilter: '',
                nameFilter: '',
            }
        },
        methods: {
            onDeleteUser(id) {
                api()
                    .delete(`/users/${id}`)
                    .then(res => {
                        this.$emit('deleted');
                    })
                    .catch(err => console.error(err));
            },
            onFilter({type, value}) {
                if (type === 'phone')
                    this.phoneFilter = value;
                else this.nameFilter = value;
            }
        },
        watch: {
            users() {
                this.filteredUsers = this.users;
            },
            phoneFilter() {
                this.filteredUsers = this.users.filter(user => {
                    const phone = user.telefone.toLowerCase().trim();
                    const search = this.phoneFilter.toLowerCase().trim();
                    return phone.includes(search);
                });
            },
            nameFilter() {
                this.filteredUsers = this.users.filter(user => {
                    const name = user.nome.toLowerCase().trim();
                    const search = this.nameFilter.toLowerCase().trim();
                    return name.includes(search);
                });
            }
        },
    }
</script>
