<template>
    <form>
        <h2 class="text-primary">Dados do usuário</h2>
        <div
            class="form-group"
            v-for="key in Object.keys(userData)"
            :key="key"
        >
            <label
                :for="userData[key].id"
            >
                {{ userData[key].label }}
            </label>
            <input
                class="form-control"
                :class="userData[key].error ? 'is-invalid' : ''"
                :type="userData[key].type"
                :id="userData[key].id"
                :aria-describedby="`${userData[key].id}Error`"
                v-model="userData[key].value"
            />
            <small
                v-if="userData[key].error"
                :id="`${userData[key].id}Error`"
                class="form-text text-danger"
            >
                Campo obrigatório.
            </small>
        </div>

        <div>
            <app-address-list :addresses="addresses" @onDelete="onDeleteAddress($event)" />
        </div>

        <h2 class="text-primary mt-3">Cadastrar Endereço</h2>

        <div class="mb-5">
            <hr>
            <form>
                <div
                    class="form-group"
                    v-for="key in Object.keys(addressInput)"
                    :key="addressInput[key].id"
                >
                    <label
                        :for="addressInput[key].id"
                    >
                        {{ addressInput[key].label }}
                    </label>
                    <input
                        class="form-control"
                        :class="addressInput[key].error ? 'is-invalid' : ''"
                        :type="addressInput[key].type"
                        :id="addressInput[key].id"
                        :name="addressInput[key].id"
                        :aria-describedby="`${addressInput[key].id}Error`"
                        v-model="addressInput[key].value"
                    />
                    <small
                        v-if="addressInput[key].error"
                        :id="`${addressInput[key].id}Error`"
                        class="form-text text-danger"
                    >
                        Campo obrigatório.
                    </small>
                </div>
                <button
                    type="button"
                    class="btn btn-primary"
                    @click="onAddAddress"
                >Adicionar Endereço</button>
            </form>
        </div>

        <button
            type="button"
            class="btn btn-success"
            @click="onSubmit"
        >
            Salvar
        </button>

        <button
            type="button"
            class="btn btn-danger"
            @click="onCancel"
        >
            Cancelar
        </button>
    </form>
</template>

<script>
    import {api} from '../services/api';
    import AddressList from "./AddressList";

    const formEnum = {
        nome: 'name',
        cpf: 'cpf',
        data_nascimento:'bornDate',
        telefone: 'phone',
        email: 'email',
    };

    const addressEnum = {
        endereco: 'address',
        numero_endereco: 'addressNumber',
        uf:'uf',
        complemento: 'complement',
        bairro: 'district',
        cod_pessoa: 'personCode',
        cidade: 'city'
    };

    export default {
        components: {
          'app-address-list': AddressList,
        },
        props: {
            link: String,
            userid: String,
        },
        data() {
          return {
              userData: {
                  name: {
                      value: '',
                      label: 'Nome',
                      type: 'text',
                      error: false,
                      id: 'name'
                  },
                  cpf: {
                      value: '',
                      label: 'Cpf',
                      type: 'number',
                      error: false,
                      id: 'cpf'
                  },
                  bornDate: {
                      value: '',
                      label: 'Data de Nascimento',
                      type: 'date',
                      error: false,
                      id: 'bornDate'
                  },
                  phone: {
                      value: '',
                      label: 'Telefone',
                      type: 'phone',
                      error: false,
                      id: 'phone'
                  },
                  email: {
                      value: '',
                      label: 'Email',
                      type: 'email',
                      error: false,
                      id: 'email'
                  },
              },
              addresses: [],
              addressInput: {
                  address: {
                      value: '',
                      label: 'Endereço',
                      type: 'text',
                      error: false,
                      id: 'endereco',
                      required: true
                  },
                  addressNumber: {
                      value: '',
                      label: 'Número',
                      type: 'number',
                      error: false,
                      id: 'number',
                      required: true
                  },
                  complement: {
                      value: '',
                      label: 'Complemento',
                      type: 'text',
                      error: false,
                      id: 'complement',
                      required: false
                  },
                  district: {
                      value: '',
                      label: 'Bairro',
                      type: 'text',
                      error: false,
                      id: 'district',
                      required: true
                  },
                  city: {
                      value: '',
                      label: 'Cidade',
                      type: 'text',
                      error: false,
                      id: 'city',
                      required: true
                  },
                  uf: {
                      value: '',
                      label: 'UF',
                      type: 'text',
                      error: false,
                      id: 'uf',
                      required: true
                  },
              }
          }
        },
        methods: {
            onCancel() {
                window.location.href = this.link;
            },
            onSubmit () {
                this.removeErrors();
                const userData = this.prepareData(this.userData);

                if(this.addresses.length === 0) {
                    return; // Invalid
                }

                api()
                    .post(`${this.link}/api/v1/users${this.userid ? '/' + this.userid : ''}`, {...userData})
                    .then(({ data }) => {
                        this.saveAddresses(this.addresses, data.user.id)
                            .then(() => {
                                    window.localStorage.setItem('success', data.message);
                                    window.location.href = '/';
                            })
                            .catch(err => console.error(err.response));
                    })
                    .catch(err => {
                        if (err.response && err.response.status === 422) {
                            const { errors } = err.response.data;

                            Object.keys(errors).forEach(error => {
                                this.userData[error].error = true;
                            });
                        }
                    });
            },
            async saveAddresses(addresses, userId) {
                for (let address of addresses) {
                    if (!address.id) {
                        await api().post(
                            '/address',
                            {...address, personCode: userId }
                        );
                    }
                }
            },
            removeErrors() {
                Object.keys(this.userData).forEach(key => {
                    this.userData[key].error = false;
                });
            },
            prepareData(inputs) {
                const data = {};
                Object.keys(inputs).forEach(key => {
                    data[key] = inputs[key].value;
                });
                return data;
            },
            onAddAddress() {
                const address = this.prepareData(this.addressInput);
                let invalid = false;

                Object.keys(address).forEach(key => {
                    if (this.addressInput[key].required && !address[key]) {
                        this.addressInput[key].error = true;
                        invalid = true;
                    }
                });

                if (!invalid) {
                    this.addresses.push(address);
                }
            },
            onDeleteAddress(ev) {
                if (ev.index !== undefined) {
                    this.addresses.splice(ev.index, 1);
                }

                if (ev.id) {
                    api()
                        .delete(`address/${ev.id}`)
                        .then(res => {
                            res.message;
                            this.addresses = this.addresses.filter(address => address.id !== ev.id);
                        })
                        .catch(err => console.error(err));
                }
            }
        },
        mounted() {
            if (this.userid) {
                api()
                    .get(`/user/${this.userid}`)
                    .then(res => {
                        const {user, addresses} = res.data

                        Object.keys(user).forEach(key => {
                            const translatedKey = formEnum[key];

                            if (this.userData[translatedKey]) {
                                this.userData[translatedKey].value = user[key];
                            }
                        });

                        if (addresses.length > 0) {
                            addresses.forEach(address => {

                                let addressToPush = {};
                                Object.keys(address).forEach(key => {
                                    const translatedKey = addressEnum[key];

                                    if (translatedKey) {
                                        addressToPush[translatedKey] = address[key];
                                    }
                                });
                                addressToPush.id = address.id;
                                this.addresses.push(addressToPush);
                            });
                        }
                    })
                    .catch(err => console.error(err));
            }
        }
    }
</script>
